<div class="col-md-6 col-md-offset-3">
  <div class="alert alert-danger" role="alert" *ngIf="error.length > 0">
    {{error}}
  </div>
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus
           formControlName="username">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
           formControlName="password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
