<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Kwetter Angular</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accounts">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tweets">Tweets</a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
  <h1> Welcome to {{ title }}! </h1>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
  </body>
</div>
