<h2 *ngIf="!isLoggedIn()">Recent Tweets</h2>
<h2 *ngIf="isLoggedIn()">Your Timeline</h2>
<div class="container">
  <div class="row justify-content-md-center mt-3">
    <div *ngFor="let tweet of tweets" class="col col-md-auto control-label card" style="width: 24rem;">
      <div class="card-body">
        <p class="card-text">{{tweet.content}}</p>
      </div>
      <div class="card-header">
        <a routerLink="/detail" (click)="setNextView(tweet.tweetedBy.username)" class="card-link">{{tweet.tweetedBy.username}}</a>
      </div>
    </div>
  </div>
</div>
