.row {
  margin-bottom: 15px;
}

.account-details p {
  float: left;
}

.card {
  margin: 10px;
}

.card-text {
  color: #000000;
}

.col-md-auto {
  padding: 0px;
}

#parent {
  display: flex;
}

#narrow {
  width: 150px;
}

#wide {
  flex: 1;
}
