<div *ngIf="account">
  <h2>Account details</h2>
  <div class="container">
    <div class="row">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{account.email}}</p>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{account.username}}</p>
      </div>
    </div>
    <div>
      <div class="row">
        <label class="col-sm-2 control-label">Bio</label>
        <div class="col-sm-9">
          <input *ngIf="editBio" [(ngModel)]="account.bio" type="text" class="form-control" id="inputBio"
                 placeholder="Bio" maxlength="64">
          <p *ngIf="!editBio" class="form-control-static">{{account.bio}}</p>
        </div>
        <div class="col-sm-1">
          <button *ngIf="accountOwner()" type="button" (click)="changeBioField()" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-9">
          <input *ngIf="editLocation" [(ngModel)]="account.location" type="text" class="form-control" id="inputLocation"
                 placeholder="Location" maxlength="64">
          <p *ngIf="!editLocation" class="form-control-static">{{account.location}}</p>
        </div>
        <div class="col-sm-1">
          <button *ngIf="accountOwner()" type="button" (click)="changeLocationField()" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <label class="col-sm-2 control-label">Website</label>
        <div class="col-sm-9">
          <input *ngIf="editWebsite" [(ngModel)]="account.website" type="text" class="form-control" id="inputWebsite"
                 placeholder="Website" maxlength="64">
          <p *ngIf="!editWebsite" class="form-control-static">{{account.website}}</p>
        </div>
        <div class="col-sm-1">
          <button *ngIf="accountOwner()" type="button" (click)="changeWebsiteField()" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <button *ngIf="accountOwner()" type="button" class="btn btn-primary" (click)="save()">save</button>
</div>

<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Followers</h2>
      <div *ngIf="followers">
        <div *ngFor="let account of followers" class="col col-md-auto control-label card" style="width: 24rem;">
          <div class="card-body">
            <p class="card-text">{{account.email}}</p>
          </div>
          <div class="card-header">
            <a routerLink="/accounts/{{account.username}}" (click)="getAccount(account.username)" class="card-link">{{account.username}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Following</h2>
      <div *ngIf="following">
        <div *ngFor="let account of following" class="col col-md-auto control-label card" style="width: 24rem;">
          <div class="card-body">
            <p class="card-text">{{account.email}}</p>
          </div>
          <div class="card-header">
            <a routerLink="/accounts/{{account.username}}" (click)="getAccount(account.username)" class="card-link">{{account.username}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


