<h2>Create your own account</h2>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert" *ngIf="error.length > 0">
        {{error}}
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="add()">
    <div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputUsername" placeholder="Username" formControlName="username">
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                 formControlName="password">
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Create Account</button>
  </form>
</div>
<br/>
